@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
  /* font-family: 'Syne Mono', monospace; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* color: #2c3e50; */
  /* margin: 80px 10px; */
  background-color: #f2f2f2;
  color: #444444;
}


/* Style the translated text */
#translatedText {
  background-color: gainsboro;
  margin: 1rem 0;
  color: #2c3e50;
}

#translatedText p {
  font-size: 1rem;
}


.videos {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 50px;
}

.videos span {
  display: block;
  text-align: center;
}

.videos h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.videos video {
  width: 40vh;
  max-width: 300px;
  height: auto;
  background-color: #444444;
}

#translatedText {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
}

#translatedText p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .videos {
    flex-direction: column;
  }
  
  .videos span {
    margin-bottom: 20px;
  }
  
  #remote {
    margin-top: 20px;
  }
  
  #remote span {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  
  #remote video {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  
  #translatedText {
    margin-top: 10px;
  }
}